@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');

$fontfamily: 'Poiret One', cursive, "Open Sans", sans-serif;
$afont: 'Poiret One', cursive, "Open Sans", sans-serif;

@mixin ibw {
    text-align: center;
    font-size: 0;

    & > * {
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
    }
}

@mixin sec {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    min-height: 600px;
    height: 100vh;
    background-size: cover !important;

    & > div {
        position: relative;
        z-index: 5;
        height: 100%;
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

:after, :before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both; 
}

sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
    content: none;
}

h1, h2, h3, h4, h5 {
    font-size: 1em;
    font-weight: inherit;
    text-align: center;
    font-family: $afont;
    font-weight: 300;
    letter-spacing: 0.01em;
}

body {
    font-family: $fontfamily, ;
    font-weight: 400;
    color: #000;
    min-height: 600px;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0 !important;
}

button, input, textarea {
    outline: none;
    border: none;
    background-color: transparent;
}

section {
    @include sec;
}

.hidden-box {
    display: none!important;
}





@keyframes bounce {
    0% {top: 0px;}
    10% {top: -2px;}
    20% {top: 5px;}
    30% {top: -7px;}
    40% {top: 3px;}
    500% {top: 0px;}
    100% {top: 0px;}
}

@keyframes borderBounce {
    0% {margin: 0 auto; padding: 20px;}
    40% {margin: 0 auto; padding: 20px;}
    45% {margin: -5px auto; padding: 25px;}
    50% {margin: 0 auto; padding: 20px;}
    55% {margin: -5px auto; padding: 25px;}
    60% {margin: 0 auto; padding: 20px;}
    100% {margin: 0 auto; padding: 20px;}
}




header {
    position: fixed;
    z-index: 50;
    padding: 15px 0;
    width: 100%;
    transition: all 0.35s;
    &.scrolled {
        background-color: rgba(5, 10, 40, 0.75);
        border-bottom: 1px solid rgba(255,255,255,0.75);
    }
    .logo {
        display: inline-block;
        width: 140px;
        height: 50px;
        background-image: url(../img/logo.png);
        background-size: 100% auto;
        background-position: center;
    }
    .lang-col {
        padding: 10px 0;
        text-align: right;
    }
    .lang {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        height: 20px;
        line-height: 20px;
        vertical-align: top;
        margin: 6px 0 0;
    }
    .lang-btn {
        width: 30px;
        height: 20px;
        background-color: transparent;
        background-size: 100% auto;
        background-position: center;
        border: none;
        margin: 5px;
        transition: all 0.35s;
        &:hover, &:active, &.active {
            width: 36px;
            height: 26px;
            margin: -1px 2px;
        }
    }
    .ua-btn {
        background-image: url(../img/lang/ua.png);
    }
    .ru-btn {
        background-image: url(../img/lang/ru.png);
    }
}

.menu-btn, .close-menu {
    display: none;
}

.menu-list {
    .menu-item {
        display: inline-block;
        height: 50px;
        position: relative;
        z-index: 1;
        padding: 0 30px 0 10px;
        color: #fff;
        font-size: 2rem;
        transition: all 0.35s;
        &:before {
            position: absolute;
            z-index: 2;
            left: 10px;
            bottom: 5px;
            height: 2px;
            width: 15px;
            background-color: #fff;
            transition: all 0.25s;
        }
        &:hover, &:active, &.active {
            &:before {
                width: 65%;
                background-color: #3eb9ff;
            }
        }
    }
}

.more {
    display: block;
    width: 250px;
    height: 50px;
    margin: 100px auto 0;
    font-size: 2.4rem;
    transition: all 0.35s;
    i {
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        animation: bounce 3s;
        animation-iteration-count: infinite;
    }
    &:hover, &:active, &.active {
        font-size: 2.5rem;
    }
}

.up-btn {
    display: none;
    &.active {
        display: inline-block;
    }
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    padding: 5px 20px;
    color: #fff;
    font-size: 3rem;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #fff;
}



.s1 {
    background: url(../img/bg/sinevir/sinevir.jpg);
    background-position: center top;
    padding-top: 100px;
    height: 112vh;
    margin-bottom: -12vh;
    color: #fff;
    text-align: center;
    canvas {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        position: absolute;
        z-index: 4;
        right: 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #111;
        opacity: 0.7;
    }
    h1 {
        margin-top: 30px;
        font-size: 2.8rem;
    }
    .decor {
        position: relative;
        z-index: 1;
        margin: 50px auto;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #fff;
        &:before, &:after {
            position: absolute;
            z-index: 2;
            width: 280px;
            height: 2px;
            top: 4px;
            background-color: #fff;
        }
        &:before {
            right: 25px;
        }
        &:after {
            left: 25px;
        }
    }
    h2 {
        margin-top: 200px;
        font-size: 4.8rem;
    }
    .order-btn {
        display: inline-block;
        margin: 0 auto;
        padding: 20px;
        font-size: 3rem;
        border: 2px solid #fff;
        transition: all 0.35s;
        animation: borderBounce 3s;
        animation-iteration-count: infinite;
        &:hover, &:active, &.active {
            transform: rotate(360deg);
        }
    }
}


.s2 {
    z-index: 3;
    clip-path: polygon(0 0, 70% 12vh, 100% 7vh, 100% 100%, 0 100%);
    background-image: url(../img/bg/muk-zamok.jpg);
}







@media screen and (max-width:991px){
    html {
        font-size: 8px;
    }
    header {
        .logo {
            display: block;
            margin: 0 auto;
        }
        .menu-btn {
            display: block;
            position: absolute;
            z-index: 2;
            top: 10px;
            left: 15px;
            height: 30px;
            width: 30px;
            color: #fff;
            font-size: 3rem;
        }
        .menu-list {
            position: fixed;
            z-index: 150;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 300px;
            padding-top: 30px;
            background-color: rgba(5, 10, 40, 0.95);
            border-right: 1px solid rgba(255,255,255,0.95);
            transition: all 0.7s;
            &.active {
                left: 0;
            }
            .close-menu {
                display: block;
                position: absolute;
                z-index: 2;
                top: 15px;
                right: 15px;
                width: 30px;
                height: 30px;
                color: #fff;
                font-size: 18px;
            }
            .menu-item {
                display: block;
                margin-bottom: 20px;
                font-size: 3rem;
            }
            .lang-col {
                border-top: 1px solid rgba(255,255,255,0.95);
                text-align: left;
                padding: 25px 0 0 25px;
            }
        }
    }
    .s1 {
        h2 {
            margin-top: 150px;
        }
        .decor {
            margin: 40px auto;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            &:before, &:after {
                width: 200px;
                height: 2px;
                top: 4px;
            }
            &:before {
                right: 25px;
            }
            &:after {
                left: 25px;
            }
        }
    }
}





@media screen and (max-width:767px){
    html {
        font-size: 6px;
    }
    header {
        padding: 5px 0;
        .menu-btn {
            font-size: 4rem;
        }
        .menu-list {
            .menu-item {
                font-size: 4rem;
            }
        }
    }
    .s1 {
        h2 {
            font-size: 4rem;
            margin-top: 160px;
        }
        .decor {
            margin: 35px auto;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            &:before, &:after {
                width: 100px;
                height: 1px;
                top: 2.5px;
            }
            &:before {
                right: 20px;
            }
            &:after {
                left: 20px;
            }
        }
    }
}