@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');

$fontfamily: 'Poiret One', cursive, "Open Sans", sans-serif;
$afont: 'Poiret One', cursive, "Open Sans", sans-serif;

@mixin ibw {
    text-align: center;
    font-size: 0;

    & > * {
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
    }
}

@mixin sec {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    min-height: 600px;
    height: 100vh;
    background-size: cover !important;

    & > div {
        position: relative;
        z-index: 6;
        height: 100%;
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

:after, :before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both; 
}

sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
    content: none;
}

h1, h2, h3, h4, h5 {
    font-size: 1em;
    font-weight: inherit;
    text-align: center;
    font-family: $afont;
    font-weight: 300;
    letter-spacing: 0.01em;
}

body {
    font-family: $fontfamily, ;
    font-weight: 400;
    color: #000;
    min-height: 600px;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0 !important;
}

button, input, textarea {
    outline: none;
    border: none;
    background-color: transparent;
}

.hidden-box {
    display: none!important;
}





@keyframes bounce {
    0% {top: 0px;}
    10% {top: -2px;}
    20% {top: 5px;}
    30% {top: -7px;}
    40% {top: 3px;}
    500% {top: 0px;}
    100% {top: 0px;}
}

@keyframes borderBounce {
    0% {margin: 0 auto; padding: 20px; width: 250px;}
    40% {margin: 0 auto; padding: 20px; width: 250px;}
    45% {margin: -5px auto; padding: 25px; width: 280px;}
    50% {margin: 0 auto; padding: 20px; width: 250px;}
    55% {margin: -5px auto; padding: 25px; width: 280px;}
    60% {margin: 0 auto; padding: 20px; width: 250px;}
    100% {margin: 0 auto; padding: 20px; width: 250px;}
}




header {
    position: fixed;
    z-index: 50;
    padding: 15px 0;
    width: 100%;
    transition: all 0.35s;
    &.scrolled {
        background-color: rgba(5, 10, 40, 0.75);
        border-bottom: 1px solid rgba(255,255,255,0.75);
    }
    .logo {
        display: inline-block;
        width: 140px;
        height: 50px;
        background-image: url(../img/logo.png);
        background-size: 100% auto;
        background-position: center;
    }
    .lang-col {
        padding: 10px 0;
        text-align: right;
    }
    .lang {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        height: 20px;
        line-height: 20px;
        vertical-align: top;
        margin: 6px 0 0;
    }
    .lang-btn {
        width: 30px;
        height: 20px;
        background-color: transparent;
        background-size: 100% auto;
        background-position: center;
        border: none;
        margin: 5px;
        transition: all 0.35s;
        &:hover, &:active, &.active {
            width: 36px;
            height: 26px;
            margin: -1px 2px;
        }
    }
    .ua-btn {
        background-image: url(../img/lang/ua.png);
    }
    .ru-btn {
        background-image: url(../img/lang/ru.png);
    }
}

.menu-btn, .close-menu {
    display: none;
}

.menu-list {
    .menu-item {
        display: inline-block;
        height: 50px;
        position: relative;
        z-index: 1;
        padding: 0 30px 0 10px;
        color: #fff;
        font-size: 2rem;
        transition: all 0.35s;
        &:before {
            position: absolute;
            z-index: 2;
            left: 10px;
            bottom: 5px;
            height: 2px;
            width: 15px;
            background-color: #fff;
            transition: all 0.25s;
        }
        &:hover, &:active, &.active {
            &:before {
                width: 65%;
                background-color: #b400ff;
            }
        }
    }
}

.more {
    display: block;
    width: 250px;
    height: 50px;
    margin: 50px auto 0;
    font-size: 2.4rem;
    transition: all 0.35s;
    border: 2px solid #fff;
    i {
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        animation: bounce 3s;
        animation-iteration-count: infinite;
    }
    &:hover, &:active, &.active {
        font-size: 2.5rem;
    }
}

.order-btn {
    display: inline-block;
    width: 250px;
    margin: 0 auto;
    padding: 20px 50px;
    font-size: 3rem;
    border: 2px solid #fff;
    background-color: #b400ff;
    transition: all 0.35s;
    animation: borderBounce 3s;
    animation-iteration-count: infinite;
    &:hover, &:active, &.active {
        border: 2px solid #b400ff;
    }
}

.up-btn {
    display: none;
    &.active {
        display: inline-block;
    }
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    padding: 5px 20px;
    color: #fff;
    font-size: 3rem;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #fff;
}



.s1 {
    @include sec;
    background: url(../img/bg/sinevir/sinevir.jpg);
    background-position: center top;
    padding-top: 100px;
    height: 112vh;
    margin-bottom: -12vh;
    color: #fff;
    text-align: center;
    canvas {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #111;
        opacity: 0.7;
    }
    h1 {
        margin-top: 30px;
        font-size: 3.2rem;
    }
    .decor {
        position: relative;
        z-index: 1;
        margin: 50px auto;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #fff;
        &:before, &:after {
            position: absolute;
            z-index: 2;
            width: 280px;
            height: 2px;
            top: 4px;
            background-color: #fff;
        }
        &:before {
            right: 25px;
        }
        &:after {
            left: 25px;
        }
    }
    .slogan-slider {
        margin-top: 200px;
        width: 100%;
        height: auto;
        ul {
            list-style: none;
            width: 100%;
            height: auto;
        }
        li {
            width: 100%;
            height: auto;
            display: inline-block;
        }
    }
    h2 {
        font-size: 4.8rem;
    }
}

.s2 {
    position: relative;
    z-index: 3;
    clip-path: polygon(0 0, 65% 12vh, 100% 8vh, 100% 100%, 0 100%);
    background-color: #aaa;
    width: 100%;
    height: auto;
    overflow: hidden;
    .order-btn {
        position: absolute;
        z-index: 8;
        bottom: 20px;
        left: 50%;
        color: #fff;
        transform: translate3d(-50%,0,0);
    }

    .bx-pager {
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        z-index: 8;
        bottom: 30px;
        left: 100px;
        .bx-pager-item {
            display: inline-block;
            width: 40px;
            height: 20px;
            font-size: 0;
            text-align: center;
            a {
                display: inline-block;
                width: 14px;
                height: 14px;
                background-color: #fff;
                transition: all 0.35s;
                &:hover, &:active, &.active {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }
    .bx-prev, .bx-next {
        position: absolute;
        z-index: 10;
        width: 100px;
        height: 100%;
        font-size: 0;
        top: 0;
        opacity: 0.1;
        background-color: rgba(0,0,0,0.5);
        transition: all 0.35s;
        &:hover, &:active {
            opacity: 0.8;
        }
    }
    .bx-prev {
        left: 0;
        background-image: url(../img/sld/prev.png);
        background-size: 60% auto;
        background-position: center;
    }
    .bx-next {
        right: 0;
        background-image: url(../img/sld/next.png);
        background-size: 60% auto;
        background-position: center;
    }

    .bxslider {
        list-style: none;
        width: 100%;
    }
    .slide {
        display: block;
        width: 100%;
        min-height: 100vh;
        padding: 15vh 20px 100px;
        background-color: #555;
        overflow: hidden;
    }

    .sld-1 {
        position: relative;
        z-index: 1;
        .day, .night {
            position: absolute;
            top: 0;
            height: 100%;
            width: 60%;
            background-size: cover;
            padding: 20vh 0 0;
            transition: all 1s;
            overflow: hidden;
        }
        h3 {
            position: relative;
            z-index: 1;
            width: 1000px;
            margin: 0 -500px;
            text-align: center;
            font-size: 6rem;
        }
        p {
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 1400px;
            margin-left: -700px;
            font-size: 9rem;
            transition: all 1s;
            padding: 15px 0;
            text-align: center;
        }
        .day {
            z-index: 3;
            left: 0;
            background-image: url(../img/bg/sld-1/day.jpg);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
            h3 {
                left: 90.91%;
            }
            p {
                top: 10vh;
                left: -50%;
                background-color: rgba(255,255,255,0.25);
            }
        }
        .night {
            z-index: 2;
            right: 0;
            background-image: url(../img/bg/sld-1/night.jpg);
            h3 {
                left: 9.09%;
                color: #fff;
            }
            p {
                top: 30vh;
                color: #fff;
                left: 150%;
                background-color: rgba(0,0,0,0.25);
            }
        }
        &.active {
            .day, .night {
                width: 55%;
            }
            p {
                left: 50%;
            }
        }
    }

        .event {
            position: relative;
            top: 0;
            left: 0;
            width: 50%;
            height: 50vh;
            overflow: hidden;
            float: left;
            background-size: cover;
            background-position: center;
            transition: all 0.5s;
            &.open-detail {
                cursor: pointer;
                &:hover, &:active, &.active {
                    &:before {
                        opacity: 0.2;
                    }
                }
            }
            &:before {
                width: 120%;
                height: 120%;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #000;
                opacity: 0.6;
                transition: all 0.25s;
            }
            h3 {
                position: absolute;
                z-index: 3;
                width: 200%;
                font-size: 20rem;
                font-family: "Open Sans", sans-serif;
                font-weight: bold;
                color: #fff;
                transform: translate3d(-50%,-50%, 0);
                opacity: 0.6;
                margin: 0;
                transition: all 0.25s;
            }
            .time {
                display: inline-block;
                width: auto;
                padding: 30px;
                font-size: 3rem;
                color: #fff;
                background-color: rgba(0,0,0,0.1);
                margin: 0;
            }
            .info {
                position: absolute;
                top: 50%;
                left: 5%;
                z-index: 3;
                width: 90%;
                height: auto;
                transform: translate3d(0,-50%, 0);
                font-size: 5rem;
                color: #fff;
                text-align: center;
                transition: all 0.5s;
            }
        }
        .event1 {
            z-index: 1;
            top: 20px;
            left: 30px;
            h3 {
                top: 100%;
                left: 100%;
                margin: 1px -3px;
            }
            .info {
                top: 100%;
                left: 100%;
            }
            .time {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
            }
        }
        .event2 {
            z-index: 3;
            top: 10px;
            left: -20px;
            h3 {
                top: 100%;
                left: 0;
                margin: -2px 3px;
                color: #efcfff;
            }
            .info {
                top: 100%;
                left: -100%;
            }
        }
        .event3 {
            z-index: 4;
            top: -10px;
            left: 20px;
            h3 {
                top: 0;
                left: 100%;
                margin: 4px 2px;
                color: #efcfff;
            }
            .info {
                top: 0;
                left: 100%;
            }
        }
        .event4 {
            z-index: 2;
            top: -20px;
            left: -40px;
            h3 {
                top: 0;
                left: 0;
                margin: 3px 6px;
            }
            .info {
                top: 0;
                left: -100%;
            }
            .time {
                position: absolute;
                z-index: 2;
                bottom: 0;
                right: 0;
            }
        }

        
    .slide.active {
        .event {
            top: 0;
            left: 0;
            .info {
                top: 50%;
                left: 5%;
            }
        }
    }
    .day-1 {
        padding: 0;
        .event1 {
            background-image: url(../img/day1/shenborn.jpg);
        }
        .event2 {
            background-image: url(../img/day1/castle.jpg);
        }
        .event3 {
            background-image: url(../img/day1/term.jpg);
        }
        .event4 {
            background-image: url(../img/day1/house.jpg);
        }
    }
    .day-2 {
        padding: 0;
        .event1 {
            background-image: url(../img/day2/breakfast.jpg);
        }
        .event2 {
            background-image: url(../img/day2/castle.jpg);
        }
        .event3 {
            background-image: url(../img/day2/chan.jpg);
        }
        .event4 {
            background-image: url(../img/day2/home.jpg);
        }
    }
    .day-3 {
        padding: 0;
        .event1 {
            background-image: url(../img/day3/food.jpg);
        }
        .event2 {
            background-image: url(../img/day3/cheese.jpg);
        }
        .event3 {
            background-image: url(../img/day3/sinevir.jpg);
        }
        .event4 {
            background-image: url(../img/day3/waterfall.jpg);
        }
    }

}







.s4 {
    width: 100%;
    height: auto;
    background-size: cover;
    position: relative;
    z-index: 3;
    background-color: #bdada5;
    background-image: url(../img/bg/trees.jpg);
    color: #fff;
    font-size: 2rem;
    padding: 60px 0 150px;
    text-align: center;
    &:before {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
    }
    .form-container {
        position: relative;
        z-index: 5;
        width: 80%;
        max-width: 750px;
        padding: 50px 50px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0.65);
        overflow: hidden;
    }
    h2 {
        font-size: 3rem;
    }
    .decor {
        position: relative;
        z-index: 1;
        margin: 20px auto 30px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #fff;
        &:before, &:after {
            position: absolute;
            z-index: 2;
            width: 200px;
            height: 2px;
            top: 2px;
            background-color: #fff;
        }
        &:before {
            right: 25px;
        }
        &:after {
            left: 25px;
        }
    }
    input, textarea {
        display: inline-block;
    }
    input, textarea {
        width: 100%;
        border-bottom: 2px solid #fff;
        font-size: 2.4rem;
        padding: 3px 10px 3px 60px;
        transition: all 0.25s;
    }
    ::-webkit-input-placeholder {color:#fff; opacity:0.7;}
    ::-moz-placeholder          {color:#fff; opacity:0.7;}
    :-moz-placeholder           {color:#fff; opacity:0.7;}
    :-ms-input-placeholder      {color:#fff; opacity:0.7;}
    .inp-wrap {
        position: relative;
        z-index: 1;
        margin-bottom: 25px;
        label {
            display: inline-block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 40px;
            border: 2px solid #fff;
            border-bottom-color: transparent;
            padding: 5px 0;
            transition: all 0.25s;
        }
        &.focused {
            label {
                border-color: #d65dec;
            }
            input {
                border-bottom: 2px solid #d65dec;
            }
        }
    }
    .last-inp {
        margin-bottom: 25px;
    }
    .order-btn {
        padding: 10px 50px;
        font-size: 2.6rem;
    }
}

.datepicker {
    font-size: 2rem;
    padding: 10px!important;
    &:after {
        width: 15px;
    }
}


footer {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    width: 100%;
    background-color: rgba(5, 10, 40,0.75);
    border-top: 1px solid rgba(255,255,255,0.75);
    color: #fff;
    font-size: 1.5rem;
}





@media screen and (max-width:991px){
    html {
        font-size: 8px;
    }
    header {
        .logo {
            display: block;
            margin: 0 auto;
        }
        .menu-btn {
            display: block;
            position: absolute;
            z-index: 2;
            top: 10px;
            left: 15px;
            height: 30px;
            width: 30px;
            color: #fff;
            font-size: 3rem;
        }
        .menu-list {
            position: fixed;
            z-index: 150;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 300px;
            padding-top: 30px;
            background-color: rgba(5, 10, 40, 0.95);
            border-right: 1px solid rgba(255,255,255,0.95);
            transition: all 0.7s;
            &.active {
                left: 0;
            }
            .close-menu {
                display: block;
                position: absolute;
                z-index: 2;
                top: 15px;
                right: 15px;
                width: 30px;
                height: 30px;
                color: #fff;
                font-size: 18px;
            }
            .menu-item {
                display: block;
                margin-bottom: 20px;
                font-size: 3rem;
            }
            .lang-col {
                border-top: 1px solid rgba(255,255,255,0.95);
                text-align: left;
                padding: 25px 0 0 25px;
            }
        }
    }
    .s1 {
        .slogan-slider {
            margin-top: 170px;
        }
        .decor {
            margin: 40px auto;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            &:before, &:after {
                width: 200px;
                height: 2px;
                top: 4px;
            }
            &:before {
                right: 25px;
            }
            &:after {
                left: 25px;
            }
        }
    }
    .s2 {
        .bx-prev, .bx-next {
            opacity: 0!important;
        }
    }
}





@media screen and (max-width:767px){
    html {
        font-size: 6px;
    }
    header {
        padding: 5px 0;
        .menu-btn {
            font-size: 4rem;
        }
        .menu-list {
            .menu-item {
                font-size: 4rem;
            }
        }
    }
    .s1 {
        padding-top: 70px;
        .slogan-slider {
            margin-top: 80px;
        }
        h2 {
            font-size: 4rem;
        }
        .decor {
            margin: 35px auto;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            &:before, &:after {
                width: 100px;
                height: 1px;
                top: 2.5px;
            }
            &:before {
                right: 20px;
            }
            &:after {
                left: 20px;
            }
        }.more {
            margin: 40px auto 0;
        }
    }



    .s4 {
        .form-container {
            width: 94%;
            padding: 30px 20px;
        }
        .decor {
            &:before, &:after {
                width: 90px;
            }
            &:before {
                right: 15px;
            }
            &:after {
                left: 15px;
            }
        }
        .order-btn {
            animation: none;
        }
    }
}